
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="text text-center">
     <h1 class="display-4">Listagem </h1>
</div>

<button type="button" class="btn btn-primary">Criar</button>
<button type="button" class="btn btn-success">Alterar</button>
<button type="button" class="btn btn-danger">Deletar</button>



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
        </tr>
    </tbody>
</table>